 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1080px;
	 height: 434px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1080px;
	 height: 434px;
	 z-index:1;
} 

 #Noautomationlackofvi 
{ 
	 left: 361px; 
	 top: 160px; 
	 position: absolute; 
	 width: 382px;
	 height: 145px;
	 z-index:2;
} 

 #VectorSmartObject 
{ 
	 left: 767px; 
	 top: -147px; 
	 position: absolute; 
	 width: 382px;
	 height: 332px;
	 z-index:3;
} 

 #VectorSmartObject_0 
{ 
	 left: 432px; 
	 top: 70px; 
	 position: absolute; 
	 width: 227px;
	 height: 52px;
	 z-index:4;
} 

 #VectorSmartObjectcop 
{ 
	 left: 924px; 
	 top: 433px; 
	 position: absolute; 
	 width: 291px;
	 height: 253px;
	 z-index:5;
} 

 #VectorSmartObjectcop_0 
{ 
	 left: 975px; 
	 top: 307px; 
	 position: absolute; 
	 width: 160px;
	 height: 139px;
	 z-index:6;
} 

 #VectorSmartObjectcop_1 
{ 
	 left: -96px; 
	 top: 59px; 
	 position: absolute; 
	 width: 382px;
	 height: 332px;
	 z-index:7;
} 

 #VectorSmartObjectcop_2 
{ 
	 left: 205px; 
	 top: 349px; 
	 position: absolute; 
	 width: 122px;
	 height: 106px;
	 z-index:8;
} 

 #VectorSmartObject_1 
{ 
	 left: 814px; 
	 top: 202px; 
	 position: absolute; 
	 width: 194px;
	 height: 169px;
	 z-index:9;
} 

 #VectorSmartObjectcop_3 
{ 
	 left: 206px; 
	 top: -33px; 
	 position: absolute; 
	 width: 187px;
	 height: 162px;
	 z-index:10;
} 

 #VectorSmartObjectcop_4 
{ 
	 left: 90px; 
	 top: 464px; 
	 position: absolute; 
	 width: 187px;
	 height: 162px;
	 z-index:11;
} 

 #Enteremailaddress 
{ 
	 left: 383px; 
	 top: 340px; 
	 position: absolute; 
	 width: 107px;
	 height: 11px;
	 z-index:12;
} 

 #NotifyMe 
{ 
	 left: 664px; 
	 top: 340px; 
	 position: absolute; 
	 width: 51px;
	 height: 14px;
	 z-index:13;
} 
